# Data Science Tools and EcoSystem

Introduction:
This notebook is about working in Jupyter which is a tool used in data Science

Few Data Science languages are listed below:
* Popular Languages:
    1. Python
    2. R 
    3. SQL 
* Traditional Languages:
    1. Scala 
    2. Java 
    3. C++ 
    4. Julia
* Other Common Languages:
    1. JavaScript
    2. PHP
    3. Go 
    4. Ruby 
    5. Visual Basic

Commonly used Libraries in Data Science are:
- Pandas
- NumPy
- TensorFlow
- Plotly
- SciPy
- Keras
- Seaborn

Table for Data Science tools
|S.No|Data Science Tools|    Type Of Tool     |
|----|------------------|---------------------|
| 1. | MongoDB, MySQL   |Data Management Tool |
| 2. |Jupyter, RStudio  |Operating System Tool|
| 3. |SparkSQL, Kafka   |Data Integration Tool|
| 4. |Git, Bitbucket    |Code Asset Tool      |

This is a Markdown cell for " Introducing arithmetic expression examples"

In [1]:
# Exercise 8 - Create a code cell to multiply and add numbers
(2*3)+4

10

In [2]:
# Exercise 9 - Create a code cell to convert minutes to hours
# Below code will convert 240 minutes to hours by dividing the minutes by 60
240 / 60

4.0

## Objectives:
The objectives of this Assessment is to grade the understanding of below in Jupyter notebook of 
- Understanding of Data science tools, libraries and languages
- Usage of Markdown Cells and Code Cells
- To create Listing
- To Create tables
- To create arithmetic operations and run the code

## Author: 
Srividya Sridharan